/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: #E4E9F7;
  /* overflow-y: scroll; */
}


/* PAGE CONTENT */

.page-content {
  margin-top: 60px;
}

.buttonStyleCustom {
  border: none !important;
}